/__init__.pyc
/basset.pyc
/conv4frss.pyc
/conv4frssplus2.pyc
/danq.pyc
/danq2.pyc
/danq3.pyc
/danq4.pyc
/danqblock.pyc
/deepsea.pyc
/deepshark2.pyc
/deepshark4.pyc
/deepshark5.pyc
/deepsharkcheck.pyc
/deepsharkcheck2.pyc
/deepsharktest3.pyc
/network_constructor_basset.pyc
/network_constructor_danq_1d3.pyc
/network_constructor_deepsea_1d2.pyc
/network_constructor_deepsea_1d4.pyc
/network_constructor_deepsea_1d5.pyc
/network_constructor_deepsea_1d6.pyc
/template_model.pyc
/conv4frss2.pyc
/conv4frss3.pyc
/conv4frssplus3.pyc
/conv4frssplus4.pyc
